@font-face {
    font-family: juraLight;
    src: url('../../assets/fonts/Jura-Light.ttf');
}
@font-face {
    font-family: juraBold;
    src: url('../../assets/fonts/Jura-Bold.ttf');
}
@font-face {
    font-family: juraRegular;
    src: url('../../assets/fonts/Jura-Regular.ttf');
}
@font-face {
    font-family: poppins;
    src: url('../../assets/fonts/Poppins-Black.ttf');
}

